/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h3 {
  text-align: center;
  font-size: 28px;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

header .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 36px;
}
header .navBar h1 {
  font-size: 24px;
  font-weight: 700;
}
header .navBar a {
  text-decoration: none;
  color: #000;
}
header .navBar a:hover {
  color: #6a33f8;
}
header .navBar .navBar_menu {
  display: flex;
  gap: 48px;
}
header .navBar .navBar_menu a {
  font-size: 20px;
}
@media all and (max-width: 414px) {
  header .navBar .navBar_menu {
    display: none;
  }
}
header .navBar .menuToggle {
  display: none;
}
@media (max-width: 680px) {
  header .navBar .navBar_menu {
    position: absolute;
    top: 100px;
    left: -100%;
    transition: ease-in-out 0.1s;
  }
  header .navBar .openMenu {
    top: 100px;
    left: 0;
    z-index: 10;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
  }
  header .navBar .menuToggle {
    display: block;
    cursor: pointer;
  }
  header .navBar .menuToggle:hover {
    color: #6a33f8;
  }
}
@media all and (max-width: 768px) {
  header .navBar {
    margin: 0 12px;
  }
}

.banner {
  position: relative;
  background-image: url("https://github.com/hexschool/js-training/blob/main/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/3ewLAKn.png?raw=true");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 420px;
  margin-bottom: 60px;
}
@media all and (max-width: 414px) {
  .banner {
    background-position: initial;
  }
}
.banner .banner_text {
  color: #fff;
  position: absolute;
  left: 52px;
  top: 282px;
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
}

.bedAdvantage {
  margin-bottom: 60px;
}
.bedAdvantage .bedAdvantage_title {
  margin-bottom: 28px;
}
.bedAdvantage .bedAdvantage_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bedAdvantage .bedAdvantage_list img {
  margin-bottom: 8px;
}
.bedAdvantage .bedAdvantage_list p {
  font-size: 20px;
  text-align: center;
}
@media all and (max-width: 768px) {
  .bedAdvantage .bedAdvantage_list {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.comparison {
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #f8f8f8;
}
@media all and (max-width: 414px) {
  .comparison {
    overflow-x: scroll;
  }
}
.comparison .comparison_title {
  margin-bottom: 32px;
}
.comparison .comparison_table {
  margin: 0 auto;
  border-collapse: collapse;
  white-space: nowrap;
  width: 66.6%;
  font-size: 20px;
}
@media all and (max-width: 414px) {
  .comparison .comparison_table {
    width: 90%;
    font-size: 16px;
  }
}
.comparison .comparison_table thead th {
  padding-bottom: 12px;
  width: 25%;
}
.comparison .comparison_table thead th:nth-child(3),
.comparison .comparison_table thead th:nth-child(4) {
  font-size: 20px;
  color: #797979;
}
@media all and (max-width: 768px) {
  .comparison .comparison_table thead th:nth-child(3),
  .comparison .comparison_table thead th:nth-child(4) {
    font-size: 16px;
    padding-left: 16px;
  }
}
.comparison .comparison_table tr {
  border-bottom: 1px solid #b9b9b9;
}
.comparison .comparison_table td {
  padding: 12px 0;
  text-align: center;
  vertical-align: middle;
}
.comparison .comparison_table td:first-child {
  text-align: left;
}
.comparison .comparison_text_gray {
  color: #797979;
  font-size: 16px;
}
.comparison span {
  color: #6a33f8;
  font-size: 2.3rem;
  font-weight: 600;
}

.recommendation {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #301e5f;
}
.recommendation h3 {
  margin-bottom: 32px;
  color: #fff;
}
.recommendation .recommendation_wall::-webkit-scrollbar {
  display: none;
}
.recommendation .recommendation_wall {
  cursor: grab;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.recommendation .recommendation_wall .recommendation_feedback_top {
  display: flex;
  gap: 30px;
  margin-left: 95px;
  margin-bottom: 20px;
}
.recommendation .recommendation_wall .recommendation_feedback_bottom {
  display: flex;
  gap: 30px;
}
.recommendation .recommendation_wall .recommendation_card {
  display: flex;
  margin-left: 30px;
  min-width: 350px;
  background-color: #fff;
}
.recommendation .recommendation_wall .recommendation_card img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.recommendation .recommendation_wall .recommendation_card .recommendation_content {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recommendation .recommendation_wall .recommendation_card .recommendation_content .recommendation_img {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.recommendation .recommendation_wall .recommendation_card .recommendation_content .recommendation_img img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
.recommendation .recommendation_wall .recommendation_card .recommendation_content .recommendation_text {
  font-size: 0.875rem;
  color: #6a33f8;
}

.orderInfo {
  padding-top: 60px;
  padding-bottom: 80px;
}
.orderInfo .orderInfo_title {
  margin-bottom: 32px;
}
.orderInfo .orderInfo_form {
  width: 31.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .orderInfo .orderInfo_form {
    width: 60%;
  }
}
@media all and (max-width: 414px) {
  .orderInfo .orderInfo_form {
    width: 80%;
  }
}
.orderInfo .orderInfo_form .orderInfo_label {
  display: block;
  margin-bottom: 6px;
}
.orderInfo .orderInfo_form input,
.orderInfo .orderInfo_form select {
  width: 100%;
  padding: 8px 0;
  text-indent: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.orderInfo .orderInfo_form .orderInfo_inputWrap {
  position: relative;
  margin-bottom: 20px;
}
.orderInfo .orderInfo_form .orderInfo_errorMsg {
  position: absolute;
  top: 30%;
  left: 105%;
  white-space: nowrap;
  color: #c72424;
}
.orderInfo .orderInfo_form .orderInfoBtn {
  margin-top: 38px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  min-width: 255px;
  padding: 10px 68px;
  border-radius: 4px;
  border: none;
}
.orderInfo .orderInfo_form .orderInfoBtn:hover {
  cursor: pointer;
  background-color: #301e5f;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

header {
  border-bottom: 40px solid #000;
  margin-bottom: 60px;
}
header .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 36px;
}
header .navBar h1 {
  font-size: 24px;
  font-weight: 700;
}
header .navBar a {
  text-decoration: none;
  color: #000;
}
header .navBar a:hover {
  color: #6a33f8;
}
header .navBar .navBar_menu {
  display: flex;
  gap: 48px;
}
header .navBar .navBar_menu a {
  font-size: 20px;
}
@media all and (max-width: 414px) {
  header .navBar .navBar_menu {
    display: none;
  }
}
header .navBar .menuToggle {
  display: none;
}
@media (max-width: 680px) {
  header .navBar .navBar_menu {
    position: absolute;
    top: 100px;
    left: -100%;
    transition: ease-in-out 0.1s;
  }
  header .navBar .openMenu {
    top: 100px;
    left: 0;
    z-index: 10;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
  }
  header .navBar .menuToggle {
    display: block;
    cursor: pointer;
  }
  header .navBar .menuToggle:hover {
    color: #6a33f8;
  }
}
@media all and (max-width: 768px) {
  header .navBar {
    margin: 0 12px;
  }
}

h2 {
  text-align: center;
  margin-bottom: 98px;
  font-size: 28px;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.orderContainer table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: 1px solid #000;
}
.orderContainer table th,
.orderContainer table tr,
.orderContainer table td {
  border: 1px solid #000;
  padding: 10px;
  white-space: nowrap;
}
.orderContainer table .status {
  color: #0067ce;
}

.orderContainer::-webkit-scrollbar {
  display: none;
}

.orderListArea {
  padding: 60px 10px;
  position: relative;
}

.orderItem {
  margin-bottom: 10px;
}

.delAllBtn {
  background-color: #fff;
  margin-bottom: 12px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: -12px;
}
.delAllBtn:hover {
  background-color: #000;
  color: #fff;
}

.delSingleBtn {
  cursor: pointer;
  color: #fff;
  background-color: #c44021;
  padding: 5px 10px;
  border: none;
}

.c3-chart-arc text {
  fill: #fff;
  font-weight: 700;
  text-anchor: start;
}

.c3-chart-arc path {
  stroke: #fff;
}/*# sourceMappingURL=all.css.map */