@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1134px;
  padding-right: 12px;
  padding-left: 12px;
}

header {
  border-bottom: 40px solid $black;
  margin-bottom: 60px;
  @include navbar;
}

.chart_title {
  text-align: center;
  margin-bottom: 98px;
  font-size: $text_2xl;
  @include Phone {
    margin-bottom: 40px;
  }
}

.orderList_area {
  padding: 60px 5px;
}

.order_container {
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  overflow-x: scroll;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  .orderList_table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    border: 1px solid $black;
    th,
    tr,
    td {
      line-height: 1.6;
      border: 1px solid $black;
      padding: 10px 5px;
      white-space: nowrap;
    }
    .status {
      color: $blue;
    }
  }
}

.order_container::-webkit-scrollbar {
  display: none;
}

.delAll_btn_container {
  display: flex;
  justify-content: flex-end;
}

.delAll_btn {
  background-color: #fff;
  margin-bottom: 12px;
  font-size: $text_lg;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: #fff;
    transition: all 0.2s;
  }
  @include Phone {
    font-size: $text_base;
    padding: 10px;
    top: 580px;
  }
}

.delSingle_btn {
  cursor: pointer;
  color: #fff;
  background-color: $red_50;
  padding: 5px 10px;
  border: none;
}

.c3-chart-arc text {
  fill: #fff;
  font-weight: 700;
  text-anchor: start;
}

.c3-chart-arc path {
  stroke: #fff;
}
