@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

h3 {
  text-align: center;
  font-size: $text_2xl;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

header {
  @include navBar;
}

.banner {
  position: relative;
  background-image: url('https://github.com/hexschool/js-training/blob/main/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/3ewLAKn.png?raw=true');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 420px;
  margin-bottom: 60px;
  @include Phone {
    background-position: initial;
  }

  &_text {
    color: #fff;
    position: absolute;
    left: 52px;
    top: 282px;
    text-align: left;
    font-weight: 400;
    font-size: $text_3xl;
    line-height: 1.4;
  }
}

// 床墊優勢
.bedAdvantage {
  margin-bottom: 60px;

  &_title {
    margin-bottom: 28px;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      margin-bottom: 8px;
    }
    p {
      font-size: $text_lg;
      text-align: center;
    }
    @include Pad {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }
}

// 家具比較
.comparison {
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: $gray_50;
  @include Phone {
    overflow-x: scroll;
  }
  &_title {
    margin-bottom: 32px;
  }
  &_table {
    margin: 0 auto;
    border-collapse: collapse;
    white-space: nowrap;
    width: 66.6%;
    font-size: $text_lg;
    @include Phone {
      width: 90%;
      font-size: $text_base;
    }
    thead {
      th {
        padding-bottom: 12px;
        width: 25%;
      }

      th:nth-child(3),
      th:nth-child(4) {
        font-size: $text-lg;
        color: $gray_300;
        @include Pad {
          font-size: $text-base;
          padding-left: 16px;
        }
      }
    }
    tr {
      border-bottom: 1px solid $gray_150;
    }
    td {
      padding: 12px 0;
      text-align: center;
      vertical-align: middle;
    }
    td:first-child {
      text-align: left;
    }
  }
  &_text_gray {
    color: $gray_300;
    font-size: $text_base;
  }
  span {
    color: $purple_150;
    font-size: 2.3rem;
    font-weight: 600;
  }
}

// 好評推薦
.recommendation {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: $purple_250;
  h3 {
    margin-bottom: 32px;
    color: #fff;
  }

  &_wall::-webkit-scrollbar {
    display: none;
  }

  &_wall {
    cursor: grab;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    .recommendation_card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 30px;
      min-width: 350px;
      background-color: #fff;

      img {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      .recommendation_content {
        padding-left: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .recommendation_img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 3px;
          img {
            width: 40px;
            border-radius: 50%;
            margin-right: 8px;
          }
        }

        .recommendation_text {
          font-size: 0.875rem;
          color: $purple_150;
        }
      }
    }
  }
  &_feedback_top {
    display: flex;
    gap: 30px;
    margin-left: 95px;
    margin-bottom: 20px;
  }
  &_feedback_bottom {
    display: flex;
    gap: 30px;
  }
}

// 運送方式
.transport {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;
  padding-top: 32px;
  @include Pad {
    width: 80%;
  }

  h3 {
    margin-bottom: 32px;
  }

  &_intro {
    display: flex;
    justify-content: center;
  }

  &_cardImg {
    position: relative;
    width: 115px;
    height: 115px;
    border: solid 3px #000;
    border-radius: 50%;
    margin-bottom: 8px;

    @include Pad {
      width: 90px;
      height: 90px;
    }

    @include Phone {
      width: 50px;
      height: 50px;
    }

    .material-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 44px;

      @include Phone {
        font-size: $text_2xl;
      }
    }
  }

  &_arrow {
    height: 115px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include Pad {
      min-width: 40px;
    }

    &_right {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid transparent;
      border-left: 10px solid #000;
    }
  }

  p {
    font-size: $text_base;

    @include Phone {
      font-size: 12px;
    }
  }

  h4 {
    font-size: $text_lg;

    @include Phone {
      font-size: 16px;
    }
  }
}

//商品列表
.container.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include Phone {
    flex-direction: column;
    max-width: 100%;
  }

  .products {
    &_select {
      display: block;
      width: 22%;
      height: 38px;
      margin-bottom: 20px;

      @include Pad {
        width: 50%;
      }
      @include Phone {
        margin: 0 auto 20px auto;
      }
    }

    &_allSelect {
      display: flex;
      width: 100%;

      @include Pad {
        justify-content: center;
      }
    }

    &_List {
      display: flex;
      flex-wrap: wrap;
      min-height: 450px;
      gap: 30px;

      @include Pad {
        justify-content: center;
      }

      @include Phone {
        flex-direction: column;
        align-items: center;
      }
    }

    &_card {
      position: relative;
      max-width: 25%;
      margin-bottom: 28px;

      @include Pad {
        max-width: 50%;
      }

      @include Phone {
        max-width: 100%;
      }

      a {
        display: block;
        background-color: #000;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 8px;
        text-decoration: none;
        width: 255px;
        &:hover {
          background-color: $purple_250;
          transition: all 0.2s;
        }
      }

      p {
        font-size: $text_2xl;
      }

      h3 {
        margin-bottom: 8px;
        font-size: $text_lg;
      }

      h4 {
        position: absolute;
        top: 13px;
        right: -5px;
        background-color: #000;
        color: #fff;
        padding: 8px 24px;
        font-size: $text_lg;
      }

      img {
        width: 255px;
        display: block;
      }
    }
  }
}
// 我的購物車
.shoppingCart {
  text-align: center;
  background-color: $gray_50;
  max-width: 100%;
  padding-bottom: 100px;

  h3 {
    margin: 32px auto;
    padding-top: 48px;
    font-size: $text_2xl;
  }

  &_table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.25rem;

    th,
    td {
      padding: 15px;
      vertical-align: middle;
      text-align: left;
    }
  }

  &_tableContainer {
    overflow-x: scroll;
    font-size: $text_lg;
  }

  .cartItem_title {
    display: flex;
    gap: 15px;

    @include Pad {
      gap: 8px;
    }

    p {
      display: flex;
      align-items: center;
      width: 160px;
      text-align: left;
      line-height: 28px;
      font-size: $text_lg;

      @include Pad {
        font-size: $text_base;
      }
    }
  }

  .discardAllBtn {
    border: solid 1px #000;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    &:hover {
      background-color: #000;
      color: #fff;
      transition: all 0.2s;
    }
  }

  .material-icons {
    text-decoration: none;
    color: #000;
  }

  &_items {
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 20px;
  }

  &_header {
    text-align: left;
  }
}

// 填寫預定資料
.orderInfo {
  padding-top: 60px;
  padding-bottom: 80px;
  &_title {
    margin-bottom: 32px;
  }
  &_form {
    width: 31.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include Pad {
      width: 60%;
    }
    @include Phone {
      width: 80%;
    }

    .orderInfo_label {
      display: block;
      margin-bottom: 6px;
    }

    input,
    select {
      width: 100%;
      padding: 8px 0;
      text-indent: 12px;
      border: 1px solid $gray_100;
      border-radius: 4px;
    }

    .orderInfo_inputWrap {
      position: relative;
      margin-bottom: 20px;
    }

    .orderInfo_errorMsg {
      position: absolute;
      top: 30%;
      left: 105%;
      white-space: nowrap;
      color: $red_100;
    }

    .orderInfoBtn {
      margin-top: 38px;
      font-size: $text-lg;
      background-color: #000;
      color: #fff;
      min-width: 255px;
      padding: 10px 68px;
      border-radius: 4px;
      border: none;
      &:hover {
        cursor: pointer;
        background-color: $purple_250;
        transition: all 0.2s;
      }
    }
  }
}
