$black: #000000;
$blue: #0067ce;
$red_50: #c44021;
$red_100: #c72424;
$gray_50: #f8f8f8;
$gray_100: #ced4da;
$gray_150: #b9b9b9;
$gray_200: #bfbfbf;
$gray_250: #818a91;
$gray_300: #797979;
$purple_50: #dacbff;
$purple_100: #9d7fea;
$purple_150: #6a33f8;
$purple_200: #5434a7;
$purple_250: #301e5f;
$text_base: 16px;
$text_lg: 20px;
$text_xl: 24px;
$text_2xl: 28px;
$text_3xl: 32px;
